extends layout

block content
  .w3-card-4
    header.w3-container.w3-teal 
      .w3-row
        .w3-col.m6.l6
          h1.w3-serif Página Principal
          if user
            h5.w3-text-white.w3-margin-top
              | Utilizador autenticado: 
              span.w3-tag.w3-light-grey.w3-round #{user.nome || user._id}
          else
            h5.w3-text-white.w3-margin-top
              span.w3-tag.w3-pale-red.w3-round Não autenticado
        .w3-col.m6.l6.w3-right-align.w3-margin-top
          if is_logged == false
            a.w3-button.w3-serif.w3-light-grey.w3-margin-right(href='/auth/login') Entrar
            a.w3-button.w3-serif.w3-light-grey(href='/auth/signup') Registar
          else
            a.w3-button.w3-serif.w3-red.w3-margin-left(href='/auth/logout') Sair

  .a-wrapper.w3-bar.w3-right-align.w3-margin
    a.w3-bar-item.w3-button.w3-serif.w3-indigo.w3-round.w3-margin-left(href='/utilizadores')
      i.fa.fa-users.w3-margin-right
      | Ver Utilizadores

    if user
      a.w3-bar-item.w3-button.w3-serif.w3-teal.w3-round.w3-margin-left(href='/utilizadores/' + user._id)
        i.fa.fa-user.w3-margin-right
        | Ver Perfil

    if user && user.perfil == "administrador"
      a.w3-bar-item.w3-button.w3-serif.w3-red.w3-round.w3-margin-left(href='/admin')
        i.fa.fa-cog.w3-margin-right
        | Administração

    a.w3-bar-item.w3-button.w3-serif.w3-blue.w3-round.w3-margin-left(href='/classificadores')
      i.fa.fa-tags.w3-margin-right
      | Classificadores
    
    a.w3-bar-item.w3-button.w3-serif.w3-orange.w3-text-white.w3-round.w3-margin-left(href='/noticias')
      i.fa.fa-newspaper.w3-margin-right
      | Notícias

  .w3-container.w3-margin-top
    .w3-card-2.w3-light-grey
      .w3-container.w3-teal
        h3 Adicionar Novo Item
      form.w3-container(id='sipUploadForm', action='/items/files', method='POST', enctype='multipart/form-data')
        .w3-margin-bottom
          label.w3-text-teal
            b Selecione um SIP (.zip) para adicionar ao diário
          input.w3-input.w3-border.w3-light-grey(type='file' name='sip' required)
          input.w3-btn.w3-teal.w3-round.w3-small(type='submit' value='Enviar')

  h2.w3-margin-top.w3-margin-left Itens Públicos

  if items && items.length
    .w3-container.w3-margin
      each item, i in items
        .w3-card
          .w3-container
            h3 #{item.titulo}
            p #{item.descricao}
            a.w3-button.w3-teal(href=`/items/${item._id}`)
              b Ver detalhe
          .w3-container.w3-small.w3-text-grey
            .w3-left
              | Classificadores:
              ul
                each classificador in item.classificadores
                  li= classificador

            .w3-right
              b
                | Produtor: #{item.produtor} | Criado em: #{item.data_criacao.substring(0, 10)}

            .w3-clear
  else
    .w3-container.w3-padding
      p Nenhum item disponível
